@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
}
html {
  scroll-behavior: smooth;
}
p {
  font-size: 1.1em;
}
a:hover {
  text-decoration: none;
  color: #333;
}
.main-nav {
  z-index: 100;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(211, 211, 211, 0.37);
}
.nav-items {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
}
.nav-items li {
  position: relative;
  padding: 5px;
  text-align: center;
  margin: 10px 10px 0px 10px;
  font-size: 1.1em;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  letter-spacing: 2px;
}
.nav-items li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 95%;
  border-radius: 10px;
  width: 100%;
  transform: scale(0);
  height: 2px;
  background-color: black;
  transition: all 0.2s ease-in;
}
.nav-items li:hover::before {
  transform: scale(1);
}
.nav-items li:hover {
  color: rgba(5, 5, 54, 0.664);
}
.logo,
.phone {
  padding: 5px;
  margin-left: 20px;
  margin-top: 6px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #333;
  font-size: 1.3em;
}
.phone:hover {
  font-weight: 500;
}
.home {
  position: relative;
  width: 100%;
}
.carousel-item {
  background-image: linear-gradient(90deg, rgb(71, 45, 45), rgb(255, 255, 255));
}
.carousel-img {
  width: 100%;
  height: calc(100vh - 63.2px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.795),
    rgba(255, 255, 255, 0.123)
  );
}
.main-text {
  display: flex;
  justify-content: left;
  flex-direction: column;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  z-index: 10;
}
.main-text-head {
  font-size: 4rem;
}
.main-text-dis {
  font-size: 2rem;
  letter-spacing: 5px;
}
.down {
  position: absolute;
  bottom: 10px;
  opacity: 0.5;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-down 0.5s infinite ease-in-out;
}
.down:hover {
  opacity: 1;
}
@keyframes ani-down {
  0% {
    bottom: 12px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 7px;
  }
}
.main-vid {
  position: relative;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-vid > video {
  position: relative;
  border-radius: 15px;
  width: 70%;
  left: 50%;
  box-shadow: 0 2px 7px lightgrey;
  transform: translateX(-50%);
  outline: none;
}
video:active,
video:focus {
  outline: none;
}
.heading {
  color: rgb(34, 23, 117);
}
.map-div {
  position: relative;
  left: 50%;
  margin: 10px 0 10px 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.map {
  width: 500px;
  box-shadow: 0 2px 10px lightgrey;
  margin-left: 30px;
}
.address {
  display: flex;
  width: 400px;
  margin-right: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.address p {
  font-size: 1.2em;
  font-weight: 500;
}
.button {
  display: block;
  margin-left: auto;
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 2px 5px lightgrey;
  transition: all 0.2 ease-in-out;
}
.button:hover {
  background-color: rgb(236, 234, 234);
  border: 1px solid rgb(236, 234, 234);
}
.about-img-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
.about-img {
  width: 500px;
  height: 500px;
  box-shadow: 0 2px 10px lightgrey;
  margin: 5px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rights {
  position: relative;
  white-space: nowrap;
  text-align: center;
  color: rgba(255, 255, 255, 0.616);
  font-size: 1em;
}
.footer {
  margin: 0;
  background-color: #333;
  padding: 20px;
  margin-top: 20px;
  color: rgb(228, 229, 230);
}
.footer a {
  transition: all 0.25s ease-in;
  color: rgb(228, 229, 230);
}
.footerlistdiv {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  opacity: 0.9;
  justify-content: space-evenly;
}
.footerlistdiv div {
  margin-right: 20px;
  margin-left: 20px;
}
.footerlistdiv p {
  padding: 5px;
  margin-bottom: 4px;
  font-size: 1.1em;
  cursor: pointer;
}
.footerlistdiv p b {
  border-bottom: 2px solid white;
}

.footerlist li {
  padding: 5px;
  margin: 2px;
  font-size: 1em;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.footerlist span {
  position: relative;
  padding-bottom: 5px;
}
.footerlist span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: white;
  width: 0;
  transition: all 0.25s ease-in;
}
.footerlist li:hover > span::before {
  width: 100%;
}
.footerlist li:hover a {
  color: rgba(129, 129, 211, 0.849);
}

@media screen and (max-width: 768px) {
  .nav-items {
    position: absolute;
    display: block;
    z-index: 1;
    top: 100%;
    display: none;
  }
  .map {
    width: 99%;
    box-sizing: 15px;
    margin-left: 0;
  }
  .main-vid > video {
    position: relative;
    border-radius: 15px;
    width: 95%;
    left: 50%;
    box-shadow: 0 2px 7px lightgrey;
    transform: translateX(-50%);
    outline: none;
  }
}
